[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ssimparser"]
	path = ssimparser
	url = https://github.com/sthonnard/ssimparser
[submodule "tzupdater"]
	path = tzupdater
	url = https://github.com/sthonnard/tzupdater
